.assistant {
  display: flex;
  flex-direction: column;
  margin-right: 20%;
  width: 70%;
  height: 75%;
  border: none;
  border-radius: 25px;
  background-color: #101010;
}

.assistant__top {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.assistant__top img {
  width: 80%;
  height: 80%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.assistant__bottom {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.assistant__bottom-heading {
  width: 85%;
  text-align: center;
  margin-top: 5%;
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.assistant__bottom-text {
  width: 85%;
  text-align: center;
  margin-top: 5%;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #808080;
  font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 1200px) {
  .assistant {
    margin-right: 0;
    max-width: 700px;
    max-height: 900px;
  }
}