.content {
  height: fit-content;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: left;
  background-color: black;
  overflow: hidden;
}

.content-text {
  font-size: 60px;
  line-height: 64px;
  font-weight: 600;
  text-align: left;
  white-space: pre-wrap;
  padding: 60px 120px 0px 150px;
  color: #808080;
  font-family: 'Poppins', sans-serif;
}

.content-text span {
  display: inline-block;
  transition: color 0.5s ease;
}

@media screen and (max-width:900px) {
  .content-text {
    text-align: justify;
  }

  .content {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .content-text {
    font-size: 40px;
    padding: 30px;
  }

  .content {
    width: 80%;
  }
}