.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  margin-top: 25px;
  z-index: 999;
}

.header-logo {
  display: flex;
  margin-left: 30px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #161616;
  cursor: pointer;
}

.header-logo img {
  width: 30px;
  height: 30px;
}

.header-button button {
  height: 50px;
  width: auto;
  margin-right: 30px;
  border-radius: .7rem;
  padding: 0.815rem 1.232rem;
  background-color: white;
  outline: none;
  border: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.header-button button:hover {
  background-color: #a594fd;
}
