.workflow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 0 40px;
  margin-top: 200px;
}

.workflow__left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.workflow__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.workflow__right-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: fit-content;
  width: 70%;
  margin-right: 20%;
  margin-top: 20px;
}

.workflow__right-buttons__button {
  width: 45%;
  height: 100%;
  background-color: white;
  text-align: center;
  font-size: 28px;
  line-height: 34px;
  font-weight: 800;
  border: none;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.button__gray {
  background-color: #101010 !important;
  color: #404040 !important;
}

.workflow__left-content {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 60%;
  align-items: flex-start;
  justify-content: center;
}

.workflow__left-heading {
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  color: #a594fd;
  font-family: 'Poppins', sans-serif;
}

.workflow__left-title {
  font-size: 75px;
  line-height: 80px;
  font-weight: 600;
  margin-top: 15px;
  text-align: left;
  white-space: pre-wrap;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.workflow__left-text {
  font-size: 14px;
  text-align: left;
  margin-top: 25px;
  white-space: pre-wrap;
  color: #808080;
  font-family: 'Poppins', sans-serif;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}